html,
body {
    height: 100%;
    width: 210mm;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    width: 210mm;
    margin: 0 auto;
    text-align: center;
}

.something-semantic {
    display: table;
    width: 100%;
}

.something-else-semantic {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
