name: Release
on:
  workflow_dispatch:
    inputs:
      release-version:
        description: Enter version to release (e.g., 2.0.1).
        required: true

run-name: Release ${{ inputs.release-version }} by @${{ github.actor }} 
jobs:
  activate:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'asciidoctor' && github.event_name == 'workflow_dispatch'
    steps:
      - run: echo ok go
  perform:
    needs: activate
    runs-on: ubuntu-latest
    environment: releases
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Install dependencies
        run: npm ci
      - name: Setup release environment
        run: |
          echo ${{ secrets[format('GH_TOKEN_{0}', github.actor)] }} | gh auth login --with-token
          echo RELEASE_VERSION=${{ github.event.inputs.release-version }} >> $GITHUB_ENV
          echo RELEASE_VSCE_TOKEN=${{ secrets['VSCE_TOKEN'] }} >> $GITHUB_ENV
      - name: Build, tag, and publish extension
        run: ./release.sh
